@import './variables';

.availability {
  background-color: $light-gray;
  padding-bottom: 200px;
  background-size: cover;
  &__pagination {
    cursor: pointer;
    float: right;
    display: flex;
    margin-right: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-top: 50px;
    &__itemActive {
      color: $red;
      margin-right: 20px;
    }
    &__item {
      color: $black;
      margin-right: 20px;
    }
  }
  &__title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.03em;
  }
  &__drop {
    display: flex;

    &__down {
      margin-left: 40px;
      margin-top: 30px;
    }
  }
  &__item {
    &__block {
      width: 100%;
      height: 198px;
      margin-top: 80px;
      margin-left: 40px;
      background-color: $white;
      display: flex;
      border-radius: 15px;

      &__info {
        width: 100%;
        &__title {
          &__price {
            display: flex;
            justify-content: space-between;
            margin-right: 10px;
            font-family: 'Libre Franklin', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 0.03em;
            margin-left: 20px;
            margin-top: 10px;
          }
        }
        &__volume {
          font-family: 'Raleway', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.03em;
          color: $gray;
          display: flex;
          margin-left: 20px;
          margin-top: 10px;
        }
        &__drive {
          font-family: 'Raleway', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.03em;
          color: $gray;
          display: flex;
          margin-left: 20px;
          margin-top: 20px;
        }
        &__mileage {
          font-family: 'Raleway', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.03em;
          color: $gray;
          display: flex;
          margin-left: 20px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .availability {
    &__drop {
      display: block;
    }
  }
}
@media (max-width: 720px) {
  .availability {
    &__item {
      &__block {
        margin-left: 0px;
        height: calc(250px + (750 - 375) * ((60vw - 320px) / (1500 - 320)));
        &__img {
          margin-top: 40px;
        }
        &__name {
          display: flex;
        }
        &__price {
        }
        &__info {
          &__title {
            &__price {
              display: block;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 360px){
  .availability{
    &__drop{
      &__down{
        margin-left: 0px;
      }
    }
    &__item{
      &__block{
        &__img{
          &__theImg{
            width: 50px;
            height: 50px;
          }
        }
        &__info{
          &__title{
            &__price{
              font-size: 20px;
            }
          }
          &__volume{
            margin-top: 0px;
          }
          &__drive{
            margin-top: 0px;
          }
          &__mileage{
            margin-top: 0px;
          }
        }
      }
    }
  }
}