@import './variables';
.brocardvLine {
  font-size: 20px;
  height: 50px;
  background: linear-gradient(-270deg, #d91b25 0%, #502c64 99.99%);
  &__info {
    display: flex;
    justify-content: space-between;
    &__logo {
      font-family: 'Exo 2', sans-serif;
      padding: 12px 0 0 100px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $white;
    }
    &__text {
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $white;
      padding: 12px 100px 0 0;
    }
  }
}
