@import './variables';
.brocardvLine {
  font-size: 20px;
  background-size: contain;
}
  .brocardvLine__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    &__logo {
      font-family: 'Exo 2', sans-serif;
      //padding: 12px 0 0 100px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      //line-height: 24px;
      color: $white;
    }
    &__text {
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      //line-height: 24px;
      color: $white;
      //padding: 12px 100px 0 0;
    }
  }

