@import './variables';
.main {
  height: 100vh;
  background-size: cover;
  &__img {
    width: 1650px;
    height: 650px;
    position: relative;
    transform: translateY(4px);
    background-size: cover;
  }
  &__info {
    position: absolute;
    top: 200px;
    left: 100px;
    &__title {
      font-family: 'Libre Franklin', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 76px;
      color: $white;
      width: 600px;
      &__button {
        margin-top: 50px;
      }
    }
    &__static {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: $white;
      position: absolute;
      top: 450px;
      display: flex;
      text-align: left;
      &mainSpan {
        font-weight: 600;
      }
    }
  }
}
@media (max-width: 1024px){
  .main{
    height: calc(575px + (750 - 375) * ((100vw - 320px) / (1500 - 320)));
    
  }
}
@media(max-width: 720px){
  .main{
    height: calc(750px + (750 - 375) * ((60vw - 320px) / (1500 - 320)));
  }
}
@media(max-width: 360px){
  .main{
    &__info{
      left: 20px;
      &__title{
        width: 100%;
        font-size: 30px;
        &__button{
          margin-top: 10px;
          
        }
      }
      &__static{
        top: 400px;
      }
    }
  }
}