@import './variables';

.request {
  height: 450px;
  text-align: center;
  background-color: $light-gray;
  //width: 100vw;
  background-size: cover;
  &__item{
    display: flex;
    justify-content: center;
  }
  &__title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    padding-top: 30px;
  }
  &__subTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $gray;
    margin-top: 30px;
  }
  
  &__inputBlock {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
    align-items: center;
    box-sizing: border-box;
    width: 739px;
    height: 116px;
    
    background: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  &__buttonBlock {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 30px;
  }
  &__button{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 360px){
  .request{
    height: calc(600px + (750 - 375) * ((60vw - 320px) / (1500 - 320)));
    &__inputBlock{
      display: block;
    }
  } 
}