@import './variables';
.slider {
  background-color: $light-gray;
  position: relative;
  &__title {
    text-align: center;
    padding: 50px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
  }
  &__item {
    display: flex;
    justify-content: space-around;
    &__title {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      padding-left: 20px;
      padding-top: 40px;
    }
    &__text {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0.03em;
      color: $gray;
    }
    &__imgTitle {
      display: flex;
      padding-bottom: 40px;
      padding-top: 40px;
      &__numb {
        font-family: 'Libre Franklin', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 102px;
        line-height: 124px;
        letter-spacing: 0.03em;
        font-size: 120px;
        color: $light-gray;
        text-shadow: 2px 0 2px $red, 0 2px 2px $red, -2px 0 2px $red, 0 -2px 2px $red;
      }
    }
    &__img {
      &__sliderTruck {
        position: absolute;
        z-index: 1;
        transform: translateX(-165px) translateY(170px);
      }
      &__sliderCircle {
        transform: translateY(150px);
      }
    }
    &__left {
      width: 400px;
    }
    &__right {
      width: 400px;
    }
  }
  &__sliderButton {
    width: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 40px;
  }
  &__page {
    display: flex;
    float: right;
    padding-right: 20px;
    transform: translateY(-70px);
    font-size: 20px;
    &__arrow {
      font-size: 25px;
      transition: all ease 300ms;
      cursor: pointer;
    }
    &__arrow:hover {
      color: $red;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .slider {
    width: calc(905px + (600 - 400) * ((100vw - 320px) / (1500 - 320)));
    &__item {
      display: block;
      &__img {
        height: 1px;
        
        &__sliderTruck {
          transform: translateX(400px);
          
        }
        &__sliderCircle {
          transform: translateX(570px) translateY(-30px);
          border: 1px solid red;
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 720px) {
  .slider {
    width: calc(650px + (600 - 400) * ((100vw - 320px) / (1500 - 320)));
    &__item {
      &__block {
        transform: translateX(250px);
      }
      &__left {
      }
      &__img {
        display: none;
      }
    }
    &__page {
      transform: translateY(-1400px);
      font-size: 40px;
      &__arrow {
        font-size: 50px;
      }
    }
  }
}
@media(max-width: 360px){
  .slider{
    width: calc(355px + (600 - 400) * ((100vw - 320px) / (1500 - 320)));   
    height: calc(1750px + (750 - 375) * ((60vw - 320px) / (1500 - 320)));
    &__title{
      padding: 0;
    }
    &__item{
      margin-top: 40px;
      &__left{
        width: 300px;
      }
      &__block{
        transform: translateX(0);
      }
      &__right{
        width: 300px;
        
      }
      &__imgTitle{
        &__numb{
          font-size: 90px;
        }
      }
    }
    &__page {
      transform: translateY(-1560px);
      font-size: 40px;
      margin-right: 15px;
      &__arrow {
        font-size: 50px;
      }
    }
    &__sliderButton{
      transform: translateY(-50px);
    }
  }
}