@import './variables';

.statistics {
  display: flex;
  background-color: $light-gray;
  justify-content: space-around;
&__item{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
  &__left {
    text-align: center;
    width: 700px;
    &__title {
      font-family: 'Exo 2', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: 0.03em;
      color: $black;
      padding-top: 50px;
    }
    &__text {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.03em;
      margin-top: 40px;
      width: 594px;
    }
    &__button {
      width: 900px;
      padding-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
  &__buttonBlock{
    display: flex;
    justify-content: center;
  }
}
